API_BASE_URL=https://api.example.com/api
NEXT_PUBLIC_API_BASE_URL=https://api.example.com/api
NEXT_PUBLIC_MEDIA_BASE_URL=https://cdn.example.com
NEXT_PUBLIC_SITE_URL=https://www.example.com
NEXT_PUBLIC_DEFAULT_LOCALE=en
