.breadcrumb {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 14px;
  white-space: nowrap;
  overflow-x: hidden;
  padding: 10px 25px;
  border-bottom: solid 1px #dedede;
  width: 80vw;
  margin-bottom: 30px;
  margin-top: 80px;
}

.crumb {
  text-decoration: none;
  color: #001f3f;
  transition: 0.3s;
}

.crumb:hover {
  text-decoration: underline;
}

.separator {
  margin: 0 8px;
  color: #dedede;
}
