.comparisonPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.comparisonContainer {
  padding: 10vh 5vw 10vh 5vw;
}

.comparisonTable {
  display: flex;
  overflow-x: auto;
  align-items: flex-end;
  padding: 30px;
  width: 90vw;
}

.characteristic {
  margin-bottom: 1rem;
  font-weight: bold;
}

.tableRight {
  display: flex;
}

.productColumn {
  min-width: 150px;
  /*border-left: 1px solid #ddd;*/
  padding: 0 1rem;
}

.productImage {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  width: 250px;
  border-radius: 15px;
}

.productDetail {
  margin-bottom: 1rem;
}

.heading {
  text-align: center;
  font-size: 2rem;
}

.tableLeft {
  min-width: 250px;
  background-color: #cc0c5c;
  padding: 20px;
  border-radius: 15px;
  text-align: left;
  height: fit-content;
  position: relative;
  margin-bottom: 60px;
}

.productTitle {
  text-align: center;
  margin-bottom: 20px;
}

.productPrice {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 10px 0;
}

.getNowButton {
  background-color: #0056e0;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.getNowButton:hover {
  background-color: #003ca0;
}

.featureRow {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 0.9rem;
  padding: 10px;
  border-bottom: 2px solid #ffffff;
}

.featureRow:last-child {
  border-bottom: none;
}

.checkMark {
  color: green;
  margin-right: 10px;
}

.productColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  text-align: center;
  padding: 0 20px;
}

.productHeader {
  font-size: 0.9rem;
  margin-bottom: 10px;
  cursor: pointer;
}

.productHeader > div {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.comparisonText {
  font-weight: bold;
  font-size: 2rem;
  color: #cc0c5c;
}

.productHeader > img {
  width: 200px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.featureCell {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 0.9rem;
  border-bottom: 2px solid #b6b6b6;
}

.featureCell:last-child {
  border-bottom: none;
}

.featureCellTable {
  background-color: #efefef;
  padding: 20px;
  width: 80%;
}

.featureCellTableBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.productCellContainer {
  margin-bottom: 30px;
}

.available {
  color: green;
}

.notAvailable {
  color: red;
}

.button {
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
  height: 35px;
  background: #222;
  position: relative;
  text-align: center;
  border-radius: 10px;
  font-size: 14px;
  transition: background 0.7s;
}

.button::after,
.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonWrapper,
.text,
.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0;
}

.text,
.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #222;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,
.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.removeButton {
  background: #d3d3d3;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7c7c7c;
  border-radius: 50px;
  transition: color 0.2s ease;
  width: 50px;
  height: 50px;
}

.removeButton:hover {
  color: #dc1515;
  background-color: #efcaca;
}

.verticalLine {
  width: 90%;
  background-color: #dcdcdc;
  height: 2px;
  margin: 0 16px;
}
