.productDetailPageRoot {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.productDetailsTopInfo {
  flex-direction: column;
}

.title {
  font-size: 2em;
  text-transform: uppercase;
  color: #4d4d4d;
  margin: 0;
}

.priceContainer {
  display: flex;
  margin: 20px 0;
  justify-content: flex-start;
  width: 100%;
}

.price {
  font-size: 2.5em;
  font-weight: 700;
  margin-right: 10px;
  color: #000000;
}
.oldPrice {
  font-size: 1.7em;
  text-decoration: line-through;
  color: #757575;
}

.productDetailPage {
  padding: 0 5vw 0 5vw;
  margin: auto;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topPartProductDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  text-align: center;
  color: #333;
}

.productDetailsImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.mainImage {
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.additionalImages {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.additionalImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.additionalImage:hover {
  transform: scale(1.1);
}

.specifications {
  margin-top: 20px;
  width: 60%;
  margin-bottom: 50px;
}

.specifications h2 {
  text-align: center;
  color: #cc0c5c;
}

.specifications ul {
  list-style-type: none;
  padding: 0;
}

.specifications li {
  background: #f4f4f4;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.thumbnailWrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 450px;
  overflow: hidden;
  justify-content: center;
  margin-top: 20px;
}

.thumbnailContainer {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  max-width: 350px;
  white-space: nowrap;
  padding: 10px;
}

.thumbnail {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.thumbnail:hover {
  transform: scale(1.1);
}

.scrollButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  padding: 5px;
  transition: 0.3s;
}

.scrollButton:hover {
  color: #000;
}

.horizontalLine {
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #e0e0e0, #d2d2d2);
  border-radius: 1px;
  margin: 20px 0;
}

.buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 40px;
}

.button {
  cursor: pointer;
  width: 100%;
  height: 50px;
  background: #222;
  position: relative;
  text-align: center;
  border-radius: 10px;
  font-size: 1em;
  transition: background 0.7s;
}

.button::after,
.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonWrapper,
.text,
.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0;
}

.text,
.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 30px;
  height: 30px;
}

.button:hover {
  background: #222;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,
.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.buttonCompare {
  width: 100%;
  cursor: pointer;
  height: 50px;
  background: #fff;
  position: relative;
  text-align: center;
  border-radius: 10px;
  font-size: 1em;
  transition: all 0.7s ease;
  color: #222;
  border: 1px solid #222;
}

.buttonCompare:hover {
  background: #222;
  color: #fff;
  border: 1px solid #222;
}

.textCompare {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  color: inherit;
  font-weight: 500;
  font-family: inherit;
}

.buttonCompare:hover .icon {
  top: 0;
}

.buttonCompare:hover .textCompare {
  top: -100%;
  color: #ffffff;
}

.buttonCompare::after,
.buttonCompare::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.textCompare,
.icon {
  transition: top 0.5s;
}

.productInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  max-width: 400px;
}

.infoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.brandRow {
  border: solid 2px #cc0c5c;
  color: #cc0c5c;
}

.nameRow {
  border: solid 2px #cc0c5c;
  color: #cc0c5c;
}

.availabilityRow {
  background-color: #dc3545; /* Default Red */
}

.available {
  background-color: #28a745 !important; /* Green if available */
}

@media (max-width: 768px) {
  .topPartProductDetails {
    flex-direction: column;
    align-items: center;
  }

  .productDetailsImageContainer,
  .productDetailsTopInfo {
    width: 100%;
    max-width: 100%;
  }

  .productDetailsTopInfo > h1 {
    font-size: 1.6em;
  }

  .mainImage {
    max-width: 60%;
  }

  .priceContainer {
    flex-direction: column;
    align-items: center;
  }

  .buttonContainer {
    flex-direction: row;
    gap: 15px;
  }

  .specifications {
    width: 100%;
    padding: 0 1rem;
  }

  .productInfoContainer {
    max-width: 100%;
    padding: 0 1rem;
  }

  .thumbnailWrapper {
    max-width: 100%;
  }

  .thumbnailContainer {
    max-width: 80%;
  }

  .price {
    font-size: 2em;
    font-weight: 700;
    margin-right: 10px;
    color: #000000;
  }
  .oldPrice {
    font-size: 1em;
    text-decoration: line-through;
    color: #757575;
  }
}
