.cartPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.cartDetails {
  display: flex;
  flex-direction: row;
  width: 90%;
  padding: 0 0 20px 0;
  gap: 30px;
}

.removeButton {
  background: #d3d3d3;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7c7c7c;
  border-radius: 50px;
  transition: color 0.2s ease;
  width: 50px;
  height: 50px;
}

.removeButton:hover {
  color: #dc1515;
  background-color: #efcaca;
}

.cartItemRow {
  display: flex;
  flex-direction: row;
  border: 1px solid #000000;
  padding: 20px;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.cartItemRow:hover {
  transform: scale(1.02);
  background-color: #ffffff;
  border-color: #cc0c5c;
  box-shadow: 0 4px 12px rgba(204, 12, 92, 0.2);
}

.cartItemRow > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
}

.details > p {
  margin: 0;
  font-weight: normal;
  font-size: 1.2rem;
}

.details > h2,
h3 {
  margin: 0;
}

.details > h3 {
  color: #cc0c5c;
}

.horizontalLine {
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #e0e0e0, #d2d2d2);
  border-radius: 1px;
}

.cartItems > h2 {
  margin: 0;
}

.cartItems {
  flex: 2;
  background: #ffffff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  gap: 30px;
  align-items: flex-start;
}

.productImage {
  width: 100px;
  height: 100px;
}

.checkoutSection {
  flex: 1;
  background: #fff;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .cartDetails {
    flex-direction: column;
  }

  .details > h2 {
    font-size: 0.9rem;
    text-align: start;
  }

  .removeButton {
    width: 40px;
    height: 40px;
  }

  .removeButton > svg {
    width: 20px;
    height: 20px;
  }

  .cartItems {
    gap: 10px;
  }
}
