.accountBox {
  margin-top: 10px;
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  border-radius: 20px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 20px 25px;
  z-index: 1000;
  opacity: 0;
  transform: translateY(-20px);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  pointer-events: none;
}

.accountBox.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.accountDetails {
  text-align: center;
}

.accountDetails > p {
  margin: 0;
}

.loginButton {
  position: relative;
  margin: 15px 0 0 0;
  padding: 12px 18px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.loginButton:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: rgba(204, 12, 92, 0.84);
  width: 45px;
  height: 45px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.loginButton span {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}

.loginButton svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #000000;
  stroke-width: 2;
  -webkit-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  transform: translateX(-5px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.loginButton:hover:before {
  width: 100%;
  background: #cc0c5c;
}

.loginButton:hover > span {
  color: white;
}

.loginButton:hover svg {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.loginButton:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

@keyframes slideDown {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.primary {
  --color: #cc0c5c;
  font-family: inherit;
  display: inline-block;
  line-height: 2.5em;
  margin: 10px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 10px;
  font-weight: 500;
  color: var(--color);
  background-color: white;
  padding-inline: 20px;
}

.primary:before {
  content: '';
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.primary:hover {
  color: #fff;
}

.primary:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.primary:hover:before {
  top: -30px;
  left: -30px;
}

.primary:active:before {
  background: #cc0c5c;
  transition: background 0s;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.verticalLine {
  width: 2px;
  height: 30px;
  background-color: #cc0c5c;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.accountDetails > p {
  margin: 10px 0;
}
