.bestsellerCarousel {
  margin-top: 30px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.scrollableSwiper {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: visible;
  scroll-behavior: smooth;
  gap: 16px;
  margin: 0 50px 0 50px;
  padding: 30px 10px 30px 20px;
}

.scrollableSwiper::-webkit-scrollbar {
  display: none;
}

.scrollableSwiper > * {
  flex: 0 0 auto; /* Ensure children keep their intrinsic size */
}

.swiperCell {
  position: relative;
  flex: 0 0 auto;
  width: 10vw;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: linear-gradient(135deg, #ffffff, #f7f7f7);
  border: 1px solid #e5e5e5;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.3s,
    background 0.3s;
  padding: 1rem 1.5rem;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.swiperCell:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #cc0c5c, #ff3366);
}

.swiperCell:hover p {
  color: #ffffff;
}

.swiperCell:hover img {
  filter: brightness(0) invert(1);
}

.swiperCell p {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: start;
}

.arrowTopRight {
  position: absolute;
  top: 0.8rem;
  right: 10px;
  width: 24px;
  height: 24px;
  transform-origin: center;
  transform: rotate(0deg);
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  opacity: 0.5;
  z-index: 2;
}

.swiperCell:hover .arrowTopRight {
  transform: rotate(-45deg) scale(1.2);
  opacity: 1;
}

.arrowButton {
  position: absolute;
  top: 50%;
  border: none;
  background: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.3s;
  z-index: 1;
  transform: translateY(-50%);
}

.arrowButton:hover {
  background-color: #cc0c5c;
}

.arrowButton:hover svg {
  filter: brightness(0) invert(1);
  stroke: #ff3366;
}

.left {
  left: 8px;
}

.right {
  right: 8px;
}

.arrowSvg {
  width: 24px;
  height: 24px;
  color: #cc0c5c;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.bestsellerTitle {
  font-size: 24px;
  color: #cc0c5c;
  font-weight: bold;
  text-align: center;
}
