.topNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cc0c5c;
  padding: 0 1rem;
  font-size: 14px;
  height: 3vh;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  gap: 20px;
}

.navButton {
  background: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
}

.navButton:hover {
  text-decoration: underline;
}

.languageSelector {
  display: flex;
  gap: 10px;
  border-radius: 5px;
  padding: 2px;
}

.languageButton {
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.3s ease;
  background: none;
  height: 17px;
}

.languageButton:hover {
  transform: scale(1.1);
}

.languageButton svg {
  width: 24px;
  height: 16px;
  background-color: #cbcbcb;
  border-radius: 3px;
}

.languageButton.active svg {
  transform: scale(1.1);
  border-radius: 3px;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .topNavbar {
    padding: 0 2vh;
    font-size: 12px;
    height: auto;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }

  .navigation {
    gap: 12px;
    width: 100%;
    justify-content: space-between;
  }

  .languageSelector {
    display: none;
  }

  .navButton {
    font-size: 12px;
  }
}
