.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 25px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card:hover {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.cardImage img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.content {
  flex-grow: 1;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.price {
  font-size: 24px;
  font-weight: bold;
}

.oldPrice {
  font-size: 18px;
  text-decoration: line-through;
  color: #888;
}

.buttonContainer {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}

.leftSideContainer {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.button {
  width: 100%;
  height: 35px;
  background: #222;
  position: relative;
  text-align: center;
  border-radius: 10px;
  font-size: 12px;
  transition: background 0.7s;
  cursor: pointer;
}

.button::after,
.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonWrapper,
.text,
.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0;
}

.text,
.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #222;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,
.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.buttonCompare {
  cursor: pointer;
  width: 100%;
  height: 35px;
  background: #fff;
  position: relative;
  text-align: center;
  border-radius: 10px;
  font-size: 12px;
  transition: all 0.7s ease;
  color: #222;
  border: 1px solid #222;
}

.buttonCompare:hover {
  background: #222;
  color: #fff;
  border: 1px solid #222;
}

.textCompare {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  color: inherit;
  font-weight: 500;
  font-family: inherit;
}

.buttonCompare:hover .icon {
  top: 0;
}

.buttonCompare:hover .textCompare {
  top: -100%;
  color: #ffffff;
}

.buttonCompare::after,
.buttonCompare::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.textCompare,
.icon {
  transition: top 0.5s;
}

.tag {
  position: absolute;
  background-color: greenyellow;
  color: rgb(0, 0, 0);
  left: 12px;
  top: 12px;
  padding: 6px 12px;
  border-radius: 15px;
  font-size: 0.75em;
  font-weight: 500;
  margin: 0;
}
